:root {
    --white: #FFFFFF;
    --border: #BEC1CE;
    --background: #CFD1DD;
}

/* reset all default css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background);
}

main {
    height: 100vh;
    padding: 20rem 10rem;
    text-align: center;
}

/* search container styles */
#search-container {
    width: 100%;
    margin-top: 2rem;
    border-radius: 0.5rem;
    background-color: var(--white);
}

/* search input styles */
#search-input {
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    font-size: large;
    font-weight: bold;
    opacity: 0.5;
}

/* search resluts */
.results {
    max-height: 50vh;
    width: 100%;
    padding: 1rem;
    border-top: 2px solid var(--border);
    text-align: left;
    overflow-y: scroll;
}

.results ul {
   list-style: none;
}

.results li {
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: var(--background);
    font-size: medium;
}

@media only screen and (max-width: 600px) {
    main {
        padding: 1rem;
    }
}
